div.sezione2 > p.classe-1 span.classe-1 {
    color: red;
}

div.sezione2 > p span.classe-2 {
    color: green;
}

div.sezione2 p.classe-1 {
    color: violet;
}

a:hover{
    color: yellow;
}

p.classe-2:hover{
    color: red;
}

.sezione2 > p:not(.classe-1) {              /*este se deberia evitar y usar el de abajo */
    color: orange;
}

.sezione2 > p:first-child {
    color: orange;
}

ul li:first-child {
    color: yellow;
}
ul :nth-child(2), ul :nth-child(4){
    color: green;
}

ul :nth-child(3), ul :nth-child(5) {
    color: red;
}
